main {
  min-height: calc(100vh - 65.5px); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container {
  width: 30rem;
  margin: auto;
  padding: 3.5rem 2.5rem;  
  background-color: white;
  border: 1px solid rgb(228, 228, 227);
  border-radius: 4px;
}

h1 {
  margin-bottom: 2rem;
}

.login_form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
}

.signup_form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.5rem;
}

.login_input {
  width: 25rem;
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid rgb(228, 228, 227);
}

.login_form input::placeholder {
  color: rgb(200, 200, 200);
}

.signup_label {
  margin-top: 1rem;
}

.caution {
  display: none;
}

.shown_caution {
  font-size: 0.9rem;
  margin: 0.3rem 0;
}

.select_container {
  width: 25rem;
  display: flex;
  justify-content: space-between;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.9rem;
}

.forgotpassword {
  color: rgb(169, 169, 169);
  font-size: 0.9rem;
  margin-left: 3rem;
}

.login_btn {
  width: 25rem;
  padding: 1rem 0;
  margin-top: 1rem;
}

.signup {
  margin-top: 2rem;
}

.signup a {
  font-weight: 700;
  text-decoration: underline;
}
