<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/shared.css" />
    <link rel="stylesheet" href="../static/css/createteam.css" />

    <title>Jabcho Main</title>
  </head>
  <body>
    <header>
      <div class="jabcho_logo">
        <img src="../static/images/Jobcho_logo.png" alt="Jobcho_logo" />
        <p>Jabcho</p>
      </div>
      <div class="header_user_info">
        <img src="../static/images/default_profile.png" alt="user_img" />
        <p>이름(송효준)</p>
      </div>
    </header>

    <main>
      <div class="create_team_container">
        <p class="title">팀 생성하기</p>
        <hr>
        <form action="" class="team_create_form">
          <div class="input_items">
            <label for="">팀 이름 (회사 또는 단체명)</label>
            <input type="text" placeholder="팀 이름 (회사 또는 단체명)">
          </div>
          <div class="input_items">
            <label for="">팀 도메인</label>
            <input type="text" placeholder="팀 도메인">
          </div>
          <button>팀으로 이동하기</button>
        </form>
      </div>
    </main>
  </body>
</html>
