<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/shared.css" />
    <link rel="stylesheet" href="../static/css/login.css" />

    <title>Jabcho Signup</title>
  </head>
  <body>
    <header>
      <div class="jabcho_logo">
        <img src="../static/images/Jobcho_logo.png" alt="Jobcho_logo">
        <p>Jabcho</p>
      </div>
    </header>

    <main>
      <div class="login_container">
        <h1>로그인</h1>
        <form action="/login" class="login_form">
          <input type="email" placeholder="이메일" class="login_input" />
          <p class="caution">이메일 주소를 입력해주세요.</p>
          <input type="password" placeholder="비밀번호" class="login_input" />
          <p class="caution">비밀번호가 일치하지 않습니다.</p>
          <div class="select_container">
            <label for="" class="checkbox">
              <input type="checkbox" />이메일 기억하기
            </label>
            <label for="" class="checkbox">
              <input type="checkbox" />로그인 상태 유지
            </label>
            <a href="/forgotpassword" class="forgotpassword">비밀번호 찾기</a>
          </div>
          <button class="login_btn">로그인</button>
          <p class="signup">
            잡초가 처음이신가요?
            <a
              href="http://127.0.0.1:5500/Project/src/main/resources/templates/signup.html"
              >회원가입</a
            >
          </p>
        </form>
      </div>
    </main>
  </body>
</html>
