<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | team_name</title>
    <link rel="stylesheet" href="../static/css/shared.css" />
    <link rel="stylesheet" href="../static/css/workspace.css" />
</head>

<body>
    <header>
        <div class="jabcho_logo">
            <img src="../static/images/Jobcho_logo.png" alt="Jobcho_logo" />
            <p>Jabcho</p>
        </div>
        <div class="header_icon_info">
            <a href="">아이콘1</a>
            <a href="">아이콘2</a>
        </div>
    </header>
    <main>
        <div class="main">
            <div class="side_bar">
                사이드바
            </div>
            <div class="chat_header">
                챗 헤더
            </div>
            <div class="chat_main">
                챗 메인
            </div>
        </div>
    </main>
</body>

</html>